@import "tailwindcss";

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata";
  src: url("./assets/fonts/Literata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata";
  src: url("./assets/fonts/Literata-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-title: "Spectral", serif;
  --font-body: "Manrope", sans-serif;
  --font-synopsis: "Literata", serif;

  --color-navbar: #0F3ED9;
  --color-interactive: #1996FF;
  --color-button-main: #1FAE57;
  --color-star: #F2A33D;
  --color-star-border: #C97820;
  --color-star-background: #FBF0DE;
  --color-genre: #5A4A85;
  --color-genre-bg: #E8E3F5;
  --color-theme: #3E5C43;
  --color-theme-bg: #DCE8DE;
  --color-background: #F8F4EE;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue-tag: #144BFF;
  --color-logout-text: #BF0306;
  --color-error: #C5181A;
}

:root {
  background-color: var(--color-background);
}

/************************* General *************************/
/*===== Tag =====*/
.tag.genre {
  background-color: var(--color-genre-bg);
  color: var(--color-genre);
  padding-inline: 0.75rem;
}

.tag.theme {
  background-color: var(--color-theme-bg);
  color: var(--color-theme);
  padding-inline: 0.75rem;
}

/*===== Button =====*/
.button.login-button {
  width: 100%;
  font-size: 1.5rem;
  padding-block: 10px;
}

.button.register-button {
  background-color: var(--color-interactive);
  width: 100%;
  font-size: 1.5rem;
  padding-block: 10px;
}

button.logout {
  background-color: var(--color-white);
  width: 100%;
  color: var(--color-logout-text);
}

/*===== Carousel =====*/
.carousel-track::-webkit-scrollbar {
  display: none;
}

.carousel-track {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge legacy */
}

/************************* Routes *************************/
/*===== Series =====*/
.series-pagination-desktop .active {
  background-color: var(--color-blue-tag);
  color: var(--color-white);
  cursor: default;
}
