@import "tailwindcss";

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata";
  src: url("./assets/fonts/Literata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Literata";
  src: url("./assets/fonts/Literata-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-title: "Spectral", serif;
  --font-body: "Manrope", sans-serif;
  --font-synopsis: "Literata", serif;

  --color-navbar: #0F3ED9;
  --color-interactive: #1996FF;
  --color-button-main: #1FAE57;
  --color-star: #F2A33D;
  --color-star-border: #C97820;
  --color-star-background: #FBF0DE
  --color-lavender: #5A4A85;
  --color-lavender-bg: #E8E3F5;
  --color-background: #F8F4EE;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue-tag: #144BFF;
}